@charset "utf-8";
@import url("./font-awesome/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* ========================== 초기화 [s] */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
body{background:#fff;font-size:0.81em;font-family:'Noto Sans KR'}
h1, h2, h3, h4, h5, h6, input, button, textarea, select{font-family:'Poppins',sans-serif,'Noto Sans KR'}
ol, ul, dl, dt, dd{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
input, button{margin:0;padding:0;font-family:'Noto Sans KR'}
input[type="submit"]{cursor:pointer}
button{cursor:pointer}
textarea, select{font-family:'Noto Sans KR'}
select{margin:0}
a{color:#222;text-decoration:none}
label, input, button, select, img{vertical-align:middle}
body{font-size:0.81em}
*, :after, :before{box-sizing:border-box}
*{-webkit-text-size-adjust:none}
.sound_only{display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
:root{--primary:#c72452}
body.open{overflow:hidden;position:absolute;width:100%;height:100%}
/* ========================== 초기화 [e] */

/* ========================== HEADER */
#sh_wrapper{position:relative;width:100%;margin:0 auto}
#sh_wrapper.index{overflow:hidden;background-color:#12141f}
#sh_hd{position:relative;z-index:15;width:100%;font-family:'Noto Sans KR';font-weight:400}
#topNavWrap{position:fixed;top:0;width:100%;height:95px;padding:0 75px;border-bottom:1px solid rgba(255,255,255,.0);transition:all .3s}

/* 마우스온 */
#topNavWrap.on{border-color:#e1e1e1;background-color:#fff}
#topNavWrap.on #topNav > li > a{color:#111}
#topNavWrap.on #menuLine{background-color:#666}

/* 스크롤 */
#topNavWrap.fixed{border-color:rgba(255,255,255,.15);background-color:rgba(0,0,0,.6)}
#topNavWrap.fixed #topNav > li > a{color:#fff}
#topNavWrap.fixed #menuLine{display:none}
.top_nav_bg.black{background-color:rgba(0,0,0,.8)}
#topNavWrap.fixed .top_nav_s li a{color:rgba(255,255,255,.6)}

/* 로고 */
#top_logo{float:left;position:relative;top:-30%;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%)}

/* 대분류  */
#topNav{position:absolute;top:0;right:130px;z-index:1;height:96px}
#topNav:after{display:block;content:"";visibility:hidden;clear:both}
#topNav > li{float:left;position:relative;padding:0 35px;line-height:95px}
#topNav > li > a{display:block;font-size:14px;font-weight:500;color:#fff;letter-spacing:.2px;transition:all .2s;font-family:'Poppins','Noto Sans KR';font-weight:500}
#menuLine{position:absolute;bottom:-1px;left:50%;width:0;height:1px;background-color:transparent;transition:all 0.5s ease-in-out}

/* 소분류 */
.top_nav_s{display:none;position:absolute;width:100%;min-height:165px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);padding-top:15px}
.top_nav_s li a{display:block;margin:0px;font-size:13.5px;line-height:26px;text-align:center;color:#222;transition:color .2s}

/* 전체메뉴배경 */
.top_nav_bg{position:fixed;width:100%;display:none;top:95px;height:180px;background:#fff;-webkit-box-shadow:0px 12px 12px -17px rgba(0,0,0,0.25);box-shadow:0px 12px 12px -17px rgba(0,0,0,0.25)}

/* 메뉴버튼 */
#pfBtn{float:right;position:relative;top:50%;z-index:101;margin-right:-15px;padding:15px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);cursor:pointer}
#pfBtn.no_pointer{pointer-events:none;cursor:alias}
/* 메뉴 버튼 */
#pfBtn span, #pfBtn span:before, #pfBtn span:after{position:absolute;z-index:20;width:20px;height:2px}
#pfBtn span{display:block;position:absolute;top:50%;left:50%;margin-left:-15px;margin-top:-1px;background-color:transparent}
#pfBtn span:before, #pfBtn span:after{display:block;content:'';right:-20px;z-index:-1;opacity:0;background-color:#fff}
#pfBtn span:before{top:-5px;transition:all ease .5s}
#pfBtn span:after{top:5px;right:20px;width:10px;transition:all ease .5s}
#pfBtn.active{z-index:200}
#pfBtn.active span{background-color:transparent}
#pfBtn.active span:before{-webkit-transform:translateY(5px) translateX(0) rotate(45deg);-ms-transform:translateY(5px) translateX(0) rotate(45deg);transform:translateY(5px) translateX(0) rotate(45deg)}
#pfBtn.active span:after{width:20px;-webkit-transform:translateY(-5px) translateX(0) rotate(-45deg);-ms-transform:translateY(-5px) translateX(0) rotate(-45deg);transform:translateY(-5px) translateX(0) rotate(-45deg)}
#pfBtn span.move:before,#pfBtn span.move:after{right:0;opacity:1}
#pfBtn.black span:before,#pfBtn.black span:after{background-color:#222}
#pfBtn.black:before{color:#222}

/* 메뉴오픈 */
#pfWrap{display:none;position:fixed;top:0;right:-100%;z-index:100;width:100%;height:100%;background-color:rgba(0,0,0,.6)}
.pf_cate{display:none;position:absolute;left:0;top:0;width:0;height:100%;	
background:-webkit-gradient(linear, left top, right bottom, color-stop(0, #16429a), color-stop(1, #c72452));
background:linear-gradient(-45deg,  #16429a 0%, #c72452 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16429a', endColorstr='#c72452', gradientType=1)}
.pf_cate ul{position:absolute;top:49%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.pf_cate ul li{margin:0 0 12px 100px;font-weight:200;text-align:center;opacity:0;font-family:'Poppins','Noto Sans KR';font-weight:300}
.pf_cate ul li > a{display:inline-block;position:relative;font-size:24px;line-height:1.6;color:#fff;letter-spacing:0;-webkit-transition:all .3s;transition:all .3s}
.pf_cate ul li:nth-child(1){animation-delay:.4s}
.pf_cate ul li:nth-child(2){animation-delay:.5s}
.pf_cate ul li:nth-child(3){animation-delay:.6s}
.pf_cate ul li:nth-child(4){animation-delay:.7s}
.pf_cate ul li:nth-child(5){animation-delay:.8s}
.pf_cate ul li a.off{color:rgba(255,255,255,.45)}
.pf_cate ul li a .nav_num{position:absolute;left:0;top:5px;font-size:11px;font-weight:600;color:#fff;opacity:0;letter-spacing:1px;-webkit-transition:all .3s;transition:all .3s;font-family:'Poppins'}
.pf_cate .ct_link{position:absolute;bottom:100px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);font-size:60px;font-weight:800;line-height:1;color:transparent;-webkit-text-stroke:1px rgba(255,255,255,.3);-webkit-transition:all .3s;transition:all .3s;font-family:'Poppins'}
.pf_cate .ct_link:after{display:block;content:"";position:absolute;right:-8px;bottom:9px;width:8px;height:8px;border-radius:50%;background-color:#fff;-webkit-transition:all .3s;transition:all .3s}
.pf_img{position:absolute;right:0;top:0;width:50%;height:100%}
#pfVisual{overflow:hidden;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:0;height:700px;opacity:0;
background:-webkit-gradient(linear, left top, right bottom, color-stop(0, #16429a), color-stop(1, #c72452));
background:linear-gradient(-45deg,  #16429a 0%, #c72452 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16429a', endColorstr='#c72452', gradientType=1)}
#pfSlide li{position:absolute;left:0;top:0;width:500px;height:700px}


/* 상단 버튼 및 오픈메뉴 */
#topmenuM{display:none;width:100%;line-height:1.8;padding:15px}
#m_navBtn{position:absolute;top:50%;right:15px;z-index:30;width:30px;height:30px;transform:translateY(-50%)}
#m_navBtn span{display:block;position:relative;top:50%;width:100%;height:2px;transform:translateY(-50%)}
#m_navBtn span::before{display:block;position:absolute;top:-6px;width:100%;height:100%;background-color:var(--primary);content:""}
#m_navBtn span::after{display:block;position:absolute;top:6px;right:0%;width:40%;height:100%;background-color:var(--primary);content:""}
#m_navBtn.on{position:fixed;top:27px}
#m_navBtn.on span:before{top:0;right:-4px;transform:rotate(45deg);background-color:#000}
#m_navBtn.on span:after{top:0;right:-4px;width:100%;transform:rotate(-45deg);background-color:#222}
#navWrap{position:fixed;left:0;top:0;z-index:15;width:100%;height:100%;background-color:rgba(0,0,0,.7)}
#navWrap .inner{overflow-y:scroll;opacity:0;position:fixed;right:-40px;top:0;z-index:999;min-width:300px;width:75%;height:100%;padding:60px 0;background-color:#fff;-webkit-transition:all .1s;transition:all .1s}
#navWrap.on .inner{opacity:1;right:0;-webkit-transition:all .4s;transition:all .4s}
#navWrap .inner:before, #navWrap .inner:after{opacity:0;display:block;position:fixed;top:0;right:-40px;z-index:1;content:"";min-width:300px;width:70%;height:60px;background-color:#fff;-webkit-transition:all .1s;transition:all .1s}
#navWrap .inner:after{top:auto;bottom:0}
#navWrap.on .inner:before, #navWrap.on .inner:after{opacity:1;right:0;-webkit-transition:all .4s;transition:all .4s}
#navWrap .inner .mo_hd_copy{position:fixed;right:0;bottom:15px;z-index:2;min-width:300px;width:70%;font-size:12px;text-align:center;color:#888}
#navWrap .user_tip{padding:10px 20px;background-color:#f5f5f5}
#navWrap .user_tip li{display:inline-block}
#navWrap .user_tip li+li{margin-left:10px}
/* 대분류 */
#topmenuM .m_lnb .m_bmenu{display:block;position:relative;width:100%;height:52px;padding:0 20px;border:none;border-bottom:1px solid #ddd;background:none;font-size:16px;line-height:52px;color:#222;text-align:left;font-family:'Noto Sans KR';font-weight:500}
#topmenuM .m_lnb .m_bmenu:after{float:right;content:"\f107";font-family:'fontawesome'}
#topmenuM .m_lnb .m_bmenu.on:after{content:"\f106"}
/* 소분류 */
#topmenuM .m_smenu{display:none;padding:15px 20px;border-bottom:1px solid #ddd;background-color:#f2f3f5}
#topmenuM .m_smenu li a{font-size:14px;color:#777}

/* ========================== MAIN */
#main_banner{position:relative;z-index:10;width:100%}

/* ========================== INDEX */
#sh_section{position:relative;z-index:15;-webkit-transform:translateY(-120px);-ms-transform:translateY(-120px);transform:translateY(-120px);font-size:13px;color:#7e7e7e;line-height:1.8;font-family:'Noto Sans KR';font-weight:400}

/* ========================== CONTAINER */
#sh_container{position:relative;width:100%;z-index:0}
#sh_container_wrapper{position:relative;width:100%;zoom:1}
#sh_container_wrapper:after{display:block;visibility:hidden;clear:both;content:""}

/* ========================== SUB */
#sub_main_banner{overflow:hidden;position:relative;width:100%;height:450px;font-family:'Noto Sans KR';font-weight:400}

/* ========================== SNB */
#sh_aside{position:relative;z-index:15;width:100%;font-family:'Noto Sans KR';font-weight:500}
#sh_aside:after{display:block;content:"";position:absolute;left:0;bottom:0;z-index:-1;width:100%;height:1px;background-color:#e1e1e1}
#sh_aside_wrapper{position:relative;max-width:1396px;margin:0 auto;zoom:1}

/* ========================== CONTENT */
#sh_content{position:relative;z-index:4;max-width:1300px;min-height:580px;margin:0 auto;padding:70px}
#sh_content:after{display:block;visibility:hidden;clear:both;content:""}

/* ========================== FOOTER */
#sh_ft{position:relative;z-index:10;width:100%;padding:85px 0 30px;font-size:13px;color:rgba(255,255,255,.3);
background:-webkit-gradient(linear, left top, right top, color-stop(0, #c72452), color-stop(1, #16429a));
background:linear-gradient(left,  #c72452 0%, #16429a 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c72452', endColorstr='#16429a', gradientType=1);font-family:'Noto Sans KR';font-weight:500} 
#sh_ft_wrapper{position:relative;max-width:1300px;margin:0 auto}
#sh_ft .inner{overflow:hidden}
#sh_ft a{color:rgba(255,255,255,.3)}
#sh_ft a:hover{color:#cbcccc}
#sh_ft dl{float:right;width:180px;min-height:115px;vertical-align:top}
#sh_ft dl.add{float:left;width:780px}
#sh_ft dl.sns{width:180px}
#sh_ft dl.sns a{font-weight:600;-webkit-transition:color .2s;transition:color .2s;font-family:'Poppins'}
#sh_ft dl.sns i{padding-right:5px}
#sh_ft dl dt{margin-bottom:10px;font-size:14px;font-weight:600;color:#fff;font-family:'Poppins'}
#sh_ft dl dd{line-height:28px;word-break:keep-all}
#sh_ft .copy{overflow:hidden;margin-top:40px;padding-top:33px;border-top:1px solid rgba(255,255,255,.1)}
#sh_ft .copy p{float:left}
#sh_ft .copy ul{float:right}
#sh_ft .copy ul li{display:inline-block;margin-left:15px;font-size:12px;font-weight:600;color:#fff;font-family:'Poppins'}

/* 반응형 하단 버튼 공통 */
#fix_tel{opacity:0;display:none;position:fixed;right:15px;bottom:125px;z-index:101;width:65px;height:65px;margin-right:-10px;border-radius:50%;font-size:30px;text-align:center;line-height:65px;color:#fff;background:var(--primary);box-shadow:5px 5px 5px rgba(0,0,0,.2);-webkit-transition:all .2s;transition:all .2s}
#fix_tel.active{opacity:1;margin-right:0}
#sh_ft_btns{display:none;padding:15px}
#sh_ft_btns .btns{overflow:hidden}
#sh_ft_btns .row2 a{width:50%}
#sh_ft_btns a{float:left;display:block;width:100%;height:55px;font-size:16px;line-height:55px;color:#fff;text-align:center;background:var(--primary);font-family:'Noto Sans KR';font-weight:700}
#sh_ft_btns a.tel{font-size:18px;font-weight:700;letter-spacing:0;font-family:'Poppins'}
#sh_ft_btns a i{padding-right:5px;font-size:18px}
#sh_ft_btns a.kakao{font-weight:normal;color:#402325;background-color:#ffe500}

/* 반응형 [s] */
@media (hover:hover){
#topNavWrap.fixed .top_nav_s li a:hover{color:#fff}
.top_nav_s li a:hover{color:#999}
.pf_cate ul li a:hover{padding-left:30px}
.pf_cate ul li a:hover .nav_num{opacity:1}
.pf_cate .ct_link:hover{color:#fff}
}
@media (max-width:1280px){
#sh_ft{padding:80px 2.5% 30px}
}
@media (max-width:1024px){
#topNavWrap{display:none;}
#topmenuM{display:block;}
#navWrap{display:none;}
#sh_content{padding:40px 0;}
#sh_aside{display:none;}
#sh_hd{position:absolute}
#sh_section{transform:none}
#sh_ft{padding:80px 2.5% 15px}
#sh_ft .inner{display:flex;flex-wrap:wrap;gap:20px}
#sh_ft .copy{padding-top:15px}
#sh_ft dl.add{width:100%}
#sh_ft dl:nth-child(2){width:calc(50% - 10px)}
#sh_ft dl:nth-child(3){width:calc(50% - 10px)}
}
@media (max-width:768px){
#sh_content{padding:20px 0;}
#sh_ft .inner{gap:40px}
#sh_ft dl{text-align:center}
#sh_ft .copy{display:flex;flex-direction:column;align-items:center;gap:12px}
#sh_ft dl:nth-child(2){width:calc(50% - 20px)}
#sh_ft dl:nth-child(3){width:calc(50% - 20px)}
}
@media (max-width:480px){
#sh_hd.sub{position:relative;background-color:#222}
#sh_content{padding:0px;}
#sh_ft{padding:60px 2.5% 15px}
#sh_ft dl:nth-child(2){display:none}
#sh_ft dl:nth-child(3){display:none}
#sh_ft .copy{margin-top:25px;gap:8px}
#fix_tel{display:block}
#sh_ft_btns{display:block}
#sh_ft dl dt{font-size:16px}
}
/* 반응형 [e] */

/* ===================== 페이징 */
.pg_wrap{margin:120px 0 0}
.pg_wrap .pg{display:flex;justify-content:center;font-size:12px;font-weight:600;text-align:center}
.pg_page, .pg_current{min-width:28px;height:28px;padding:0 5px;margin:0 2px;border-radius:3px;font-weight:600;color:#999;line-height:28px;background:#f2f2f2;border:none;font-family:'Pretendard'}
.pg_current{color:#fff;background:#333}
.pg_end{text-indent:-999px;overflow:hidden;background:url('../img/common/ico_btn_end.gif') no-repeat center #fff;border:1px solid #e1e1e1}
.pg_next{text-indent:-999px;overflow:hidden;background:url('../img/common/ico_btn_next.gif') no-repeat center #fff;border:1px solid #e1e1e1}
@media(max-width:768px){
.pg_page, .pg_current{min-width:24px;height:24px;line-height:24px}
}

.btn_area{margin-top:20px;text-align:right}
.btn_type01{display:inline-block;width:180px;height:55px;margin:0 auto;border-radius:2px;font-size:15px;font-weight:600;color:#fff;text-align:center;line-height:55px;background-color:#0054a6;-webkit-transition:all .2s;transition:all .2s}
.btn_type01:hover{background-color:#0064c5}

@media(max-width:1024px){
#sh_bo_gall #sh_gall_ul{padding:0 10px}
}
@media(max-width:768px){
#sh_bo_gall #sh_gall_ul{grid-template-columns:repeat(2,1fr)}
#sh_bo_gall .gall_txt .tit{padding:5px;font-size:14px}
.btn_area{padding-right:10px}
.btn_type01{width:100px;height:40px;line-height:40px;font-size:14px}
}
@media(max-width:580px){
.list_top{padding:0 10px}
#sh_bo_sch{width:100%}
#sh_bo_sch input[type=text]{width:calc(100% - 117px)}
#sh_bo_gall #sh_gall_ul{gap:15px}
}
